/* styles.css */
body {
    /* Set display to flex and align items and justify content to center */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Set height to 100vh to make the content centered vertically */
    height: 100vh;

    /* Replace 'YOUR_IMAGE_URL' with the direct link to your image */
    background-image: url('https://wallpapercave.com/wp/L1ttyXC.jpg');
    /* Set background properties as needed */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    /* Additional background properties can be added here */
}

/* Adjust width and add additional styles as needed */
.window {
    width: 300px;
    /* Add more styles as needed */
}
